# global parameters
SET_CODE= # three letter set code for MTG set of interest (e.g. DSK, BLB, FDN, ...)
OUTPUT_ROOT_DIR= # file path to image directory (for both download and montage generation)
# if is:booster filter applies the next two options can be deleted
CN_MIN=1 # collector number start (inclusive) if is:booster filter does not apply
CN_MAX=200 # collector number end (inclusive) if is:booster filter does not apply

# parameters for image donwload
SOURCE_IMAGES= # if set to True, images will be downloaded from Scryfall API
SCRYFALL_API_URL=https://api.scryfall.com # URL for Scryfall API (default is https://api.scryfall.com)

# parameters for image montage
GENERATE_MONTAGE= # if set to True, images will be montaged